.ellipsis {
  overflow: hidden;
}

.ellipsis > * {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  /* cuando white-space y overflow tiene valores podemos usar text-overflow */
  text-overflow: ellipsis;
}